@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --light: #f6f6f6;
  --blue: #00a3e9;
  --dark: #161618;
}

@media (prefers-color-scheme: light) {
  :root {
    --light: #161618;
    --blue: #0071A3;
    --dark: #f6f6f6;
  }
}

html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Gobal Styles */
body {
  background-color: var(--dark);
  color: var(--light);
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2.5rem;
  color: var(--blue);
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--blue);
}

p {
  font-size: 1.1rem;
  line-height: 1.8rem;
}

a {
  color: var(--blue);
  font-weight: 600;
  padding-right: 0.5rem;
}

/* container Styles */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.5rem;
  padding: 1rem;

  header,
  section,
  footer {
    width: 100%;
    max-width: 750px;
  }
}

/* header Styles */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
  padding-top: 3rem;
}

header .profile-img {
  width: 150px;
  height: 150px;
  background-image: url(../images/icons/profile-icon.jpg);
  background-size: cover;
  border-radius: 150px;
  box-shadow: rgba(50, 50, 93, 0.35) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.4) 0px 30px 60px -30px;
}

header p {
  width: 100%;
  max-width: 500px;
}

.contact-box > a {
  color: var(--blue);
  text-decoration: none;
  justify-content: center;
}

.contact-box > a > svg {
  width: 1.9rem;
  height: 1.9rem;
}

/* projects Styles */
.projects,
.project-text {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.project-box {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.project-img03,
.project-img02,
.project-img01 {
  width: 150px;
  height: 150px;
  border-radius: 0.5rem;
  background-size: cover;
  background-position: center;
  box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
}

.project-img01 {
  background-image: url(../images/projects/cosmic-invasion.gif);
}

.project-img02 {
  background-image: url(../images/projects/labirinto-jogo.png);
}

.project-img03 {
  background-color: #fff;
  background-image: url(../images/projects/DevKiit.png);
  background-size: 95%;
  background-repeat: no-repeat;
}

.project-text {
  width: calc(100% - 150px);
}

/* footer Styles */
footer > p {
  text-align: center;
  font-size: 0.8rem;
}

/* Responsividade para telas Pequenas */
@media (max-width: 750px) {
  html {
    font-size: 14px;
  }

  .project-box {
    flex-direction: column;
  }

  .project-text {
    width: 100%;
  }
}
